/*
Theme Name: GrowPoland
Theme URI: https://
Author: Sergey Mikhailovskij
Author URI: https://
Description: Theme for Grow Poland WP Site
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    -webkit-font-smoothing: antialiased;
}

h2.guides{

    font-size: 18px;
    font-weight: normal;
    padding-bottom: 28px;
    border-bottom: 1px solid #BABCBD;
    margin-bottom: 25px;
}
.workbooks {
    padding-left: 7%;
}
.margin-bottom{
    display:block;margin-bottom:14px;
}
ul.margin-bottom li{
    margin: 0 0 5px 0;
}
h3.guides {
    font-size: 14px;
    font-weight: normal;
    margin-left:10%;
}
.firsth3{
    font-size: 18px !important;
    line-height: normal;
    font-style: normal;
    margin-top: 4%;
    margin-bottom: 2%;
}
.firsth2{
    font-size: 24px !important;
    line-height: normal;
}
.whatwedo{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;

}
.wp-image-399{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.workbook-line-height {
    line-height: 14px;
    font-size: 10px;
    margin-left:10%;
}
@font-face {
    font-family: 'agendamedium';
    src: url('agenda-medium-webfont.eot');
    src: url('agenda-medium-webfont.eot?#iefix') format('embedded-opentype'), url('agenda-medium-webfont.woff') format('woff'), url('agenda-medium-webfont.ttf') format('truetype'), url('agenda-medium-webfont.svg#agendamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


input[type=text], input[type=submit] {
    -webkit-appearance: none;
    border-radius: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-scrollbar-track {
    background-color: #b46868;
}
/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}
/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: #7c2929;
}
/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
}
/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

::-webkit-input-placeholder { /* WebKit browsers */
    color: #707172;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #707172;
    opacity: 1;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #707172;
    opacity: 1;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #707172;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}


html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, hr {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, th {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

fieldset, img, hr {
    border: none;
}
.homeBlocksLeft{
    width:48%;
    float:left;
}
.homeBlocksRight{
    width:48%;
    float:right;
   margin: auto!important;
}
.block p{
    padding-top: 5px;
}
.homeBlocksClear{
    clear: both;
}

caption, th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

html, body {
    height: 100%;
}

html, body {
    width: 100%;
    background: #F1F2F2;
    color: #000000;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}

.clear {
    clear: both;
}

input {
    line-height: 1;
    overflow: visible;
}

h1 {
    position: absolute;
    top: -1337px;
}

h1.expert {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h1.show {
    position: relative;
    top: auto;
    text-transform: uppercase;
    margin-bottom: 18px;
}

h1.bigtitle {
    font-size: 18px;
    margin-bottom: 35px;
}

h1.press {
    position: relative;
    top: auto;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
}

h2 a {
    color: #000000;
}

h3 {
    font-weight: bold;
}

a {
    color: #707172;
}

a.cursor {
    cursor: default;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1337;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 40px;
    background: #ffffff;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.1);
}

.contentmargin {
    margin: 0 2.3%;
}

.contentmargin.no-margin-right {
    margin-right: 0;
}

.logo {
    padding-bottom: 27px;
    max-width: 139px;
}

.menu, .submenu, .newsmenu, .sitemap, .taalkeuze {
    list-style-type: none;
}

.sitemap {
    float: right;
    /*width: 300px;*/
    /*margin-right: 20%;*/
    /*width: 35%;*/
}

.submenu {
    display: block;
    margin-top: -2px;
}

.menu li, .submenu li {
    float: left;
    margin-right: 18px;
}

.taalkeuze li {
    float: left;
    margin-left: 18px;
}

/*.menu li:last-child {
            float: right;
            margin: 0;
        }*/

.newsmenu li {
    display: block;
}

.sitemap li {
    /*width: 40%;*/
    width: 150px;
    margin-bottom: 5px;
    float: left;
}

.taalkeuze {
    float: right;
}

.menu a, .taalkeuze a {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

.menu-bottom {
    position: absolute;
    width: 0;
    border-bottom: 1px solid #009DE0;
    left: 0;
    bottom: -1px;
    transition: 0.2s;
}

.submenu a, .newsmenu a, .sitemap a {
    color: #000000;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    line-height: normal;
}

.sitemap a {
    color: #ffffff;
}

.newsmenu a {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #DDDEDF;
}

.newsmenu li:last-child a {
    padding: 0;
    border: none;
    margin: 0;
}

.menu a:hover .menu-bottom, .menu a:focus .menu-bottom, .taalkeuze a:hover .menu-bottom, .taalkeuze a:focus .menu-bottom, .taalkeuze a.currenttaal .menu-bottom {
    width: 100%;
    transition: 0.2s;
}

.menu #current, .taalkeuze .currenttaal {
    color: #009DE0;
}

.menu #current .menu-bottom {
    display: none;
}

/*.menu a:hover, .menu a:focus, .menu #current {
    border-bottom: 1px solid #707172;
}*/

.spacing {
    letter-spacing: 0.07em;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.mainwrapper {
    padding-top: 205px;
    padding-bottom: 67px;
}

.footer-container, .push {
    height: 169px;
}

.footer {
    padding: 26px 0 30px 0;
    background: #3D3D3F;
    color: #ffffff;
    text-transform: uppercase;
}

.footerlogo {
    margin-right: 20px;
}

.partners {
    display: block;
    margin-bottom: 8px;
}

.bottom {
    padding: 10px 0px;
    background: #323134;
    color: #B1B3B4;
    font-size: 10px;
}

.bottom a {
    color: #B1B3B4;
    text-decoration: none;
}

.bottomspacer {
    margin: 0 2px;
}

.half {
    width: 50%;
}

.one-third {
    width: 400px;
    /*width: 33.3%;*/
}

.two-thirds {
    width: 800px;
    position: relative;
    /*width: 66.7%;*/
}

.item {
    float: left;
    text-transform: uppercase;
}

.item.no-transform {
    text-transform: none;
}

.cycle img, .no-cycle img, .item img {
    width: 100%;
}


/*.item-overlay {
display: none;
}*/

.item:hover .item-overlay {
    transition: 1s;
    left: 0px;
}

.item-overlay, .item-overlay-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*z-index: 1337;*/
}

.item-overlay {
    left: 100%;
    transition: 1s;
}

a span span.portfolio-title {
    position: absolute;
    z-index: 1336;
    color: #ffffff;
    left: 20px;
    top: 17px;
    width: 80%;
    text-decoration: none !important;
}

.item-overlay-bg {
    background: #009DE0;
    opacity: 0.8;
    z-index: 1335;
}

.big {
    /*width: 75%;*/
    width: 600px;
    height: 399px;
    overflow: hidden;
}

.medium {
    /*width: 50%;*/
    width: 400px;
    height: 266px;
    overflow: hidden;
}

.medium-auto-height {
    width: 400px;
}

.small, .grid-sizer {
    /*width: 25%;*/
    width: 200px;
    overflow: hidden;
}

.small {
    height: 133px;
}

.small.auto-height {
    height: auto;
}

.datum, .functie {
    display: block;
    color: #707172;
}

.functie {
    text-transform: uppercase;
}

.interest-fields, .contactlink {
    font-size: 10px;
    color: #A7A8AA;
}

#container-position {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#container-slider {
    width: 100%;
    height: 100%;
    position: relative;
    /*right: -100%;*/
}

#container {
    margin-bottom: 15px;
    width: 100%;
    /*position: relative;
    min-height: 100%;
    margin: 0 auto;*/
}

/*#container.contact-container {
        margin-bottom: 25px;
    }*/
.contact-container {
    width: 100%;
    margin-bottom: 25px;
}

.newsitem {
    display: block;
    margin-bottom: 18px;
}

.detailitem {
    display: block;
    margin-bottom: 35px;

}

.detailitem.newsintro {
    margin-bottom: 47px;
}

.detailitem.small-margin {
    margin-bottom: 20px;
}

.newsitem {
    display: block;
    margin-bottom: 18px;
}

.subscribeintro {
    padding: 15px 7% 0 7%;
    margin-bottom: 15px;
}

.detailmenu {
    display: block;
    padding-bottom: 28px;
}

.detailitem h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

h2.subscribe, h2.press {
    font-size: 12px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: normal;
}

h2.press {
    margin-bottom: 18px;
}

h2.news {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
}

.twitter h2 {
    text-transform: uppercase;
}

.read-more {
    text-decoration: none;
}

.newsfeed, .detail {
    padding: 0 7%;
}

.contactinfo {
    padding: 0 12.5%;
    padding-top: 7px;
    display: block;
    padding-bottom: 18px;
    font-size: 10px;
    line-height: 14px;
}

.contactbeschrijving {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #707172;
}

.detailcenter {
    padding: 0 3.5%;
}
.homeBlocksContent .detailcenter {
    padding: 0 7%;
}

.newsfeed {
    margin-top: 37px;
}

.newsfeed.no-margin {
    margin-top: 0px;
}

.twitterfeed {
    padding-left: 7%;
}

.twittercontainer {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.detail-width {
    width: 100%;
}

.detail-square {
    width: 50%;
}

.overlay, .overlay-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.overlay-bg {
    background: #000000;
    opacity: 0.4;
}

.overlay {
    background: url(../pictures/overlay.png) no-repeat center center;
}

.clientwrapper {
    margin-bottom: 100px;
}

.clientlist {
    margin-left: 20px;
    color: #000000;
}

.client {
    float: left;
    width: 16.66%;
}

#map_canvas {
    display: block;
    width: 100%;
    height: 350px;
}

.marker {
    display: none;
}

.twitter {
    /*min-height: 500px;*/
    background: #ffffff;
}

.twittertop {
    border-bottom: 2px solid #F1F2F2;
    background: url(../pictures/icon_twitter.png) no-repeat top 5px right 6%;
}

.galerij {
    margin-bottom: 38px;
    overflow:hidden;
}

.galerij.no-margin-bottom {
    margin-bottom: 0px;
}

.galerij.paddingtop {
    padding-top: 18px;
}

.galerij-img {
    float: left;
}

.galerij-img img.block-img, .workbook-img {
    width: 100%;
}

.galerij.margin-bottom .galerij-img {
    margin-bottom: 20px;
}

.contact {
    background: #ffffff;
}

.naam {
    text-transform: uppercase;
    font-weight: bold;
}

.subscribewrapper {
    margin-top: 37px;
    background: #ffffff;
}

.subscribe-form {
    background: #D9DADB;
    padding-left: 7%;
}

.dropdownwrapper {
    padding-left: 7%;
    background: #ffffff;
}

.dropdownwrapper {
    padding-right: 7%;
    padding-top: 2px;
    height: 25px;
    margin-bottom: 5px;
    overflow: hidden;
}

.dropdownwrapper.no-margin {
    margin-bottom: 0px;
    height: 23px;
}

.lbl_subscribe_email {
    width: 16%;
    color: #707172;
    height: 25px;
    line-height: 25px;
}

.txt_subscribe_email {
    width: 43%;
    border: none;
    height: 25px;
    color: #707172;
    background: #D9DADB;
}

.btn_submit {
    width: 41%;
    color: #ffffff;
    background: #A6A8AA;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.btn_send {
    float: right;
    color: #ffffff;
    background: #A6A8AA;
    height: 25px;
    line-height: 25px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.select {
    border: none;
    color: #707172;
    width: 100%;
    display: block;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background: url(../pictures/dropdown.png) no-repeat center right #ffffff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 23px;
    line-height: 23px;
}

.safari .select {
    /*padding-top: 2px;*/
}

.errormsg, .confirmmsg {
    display: none;
}

.errormsg {
    color: red;
}

.newsnav {
    background: #ffffff;
    padding: 0 7%;
    padding-top: 38px;
    padding-bottom: 52px;
}

.newswrapper {
    border-bottom: 2px solid #D6D7D8;
    padding-bottom: 33px;
    margin-bottom: 37px;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.newscontainer .newswrapper:last-child {
    border: 0px;
    margin-bottom: 0px;
}

.sharebuttons {
    z-index: 1337;
    position: fixed;
    left: 0px;
    top: 205px;
    width: 25px;
}

.sharemenu, .sharemenusub {
    list-style-type: none;
    display: block;
}

.sharemenu img {
    /*float:left;*/
    display: block;
}

.sharemenu li {
    position: relative;
}

.sharemenu li:hover .sharemenusub {
    display: block;
}

.sharemenusub {
    display: none;
    width: 180px;
    position: absolute;
    top: 0;
    left: 25px;
}

.sharemenusub a {
    padding-left: 10px;
    display: block;
    height: 25px;
    line-height: 25px;
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    background: url(../pictures/transp.png);
    color: #000000;
}

a.sharetwitter {
    color: #ffffff;
    background: #34B9DF;
}

a.sharefacebook {
    color: #ffffff;
    background: #004C95;
}

a.sharelinkedin {
    color: #ffffff;
    background: #0078AD;
}

.expert-advice {
    margin-top: 23px;
}

.txt_search, .txt_expertadvice {
    display: block;
    padding: 0 7%;
    width: 100%;
    border: 1px solid #ffffff;
    height: 25px;
    margin-bottom: 40px;
    color: #707172;
    /*line-height: 25px;*/
    /*padding-top: 2px;*/
}

.txt_expertadvice {
    margin-bottom: 5px;
}

.txt_expertadvice.missing, .required-checkboxes.missing {
    border-color: red;
}

.inputlink {
    display: block;
    padding: 0 7%;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background: #ffffff;
    text-decoration: none;
    margin-bottom: 5px;
    overflow: hidden;
}

.taallink {
    background: #A6A8AA;
    float: left;
    color: #ffffff;
    text-decoration: none;
    margin-right: 1px;
    width: 20px;
    text-align: center;
    height: 12px;
    line-height: 12px;
    font-size: 8px;
}

.contactinfo.pressinfo {
    background: #ffffff;
    margin-bottom: 10px;
}

.contactinfo .interest-fields {
    margin-bottom: 8px;
}

.pressleft {
    margin: 0 3.5%;
}

.pressleft ul, .detailitem ul {
    margin-left: 15px;
}

.detaildatumspan {
    margin-bottom: 18px;
    position: relative;
    text-transform: uppercase;
    top: auto;
}

.imgwrapper {
    float: left;
    width: 33.3%;
}

.imgwrapper img {
    float: left;
    width: 100%;
}

.pressgalerij {
    margin-bottom: 5px;
}

.seemore {
    background: url(../pictures/dropdown.png) no-repeat center right 7% #ffffff;
}

.pressitem {
    margin-bottom: 40px;
}


.sharemenu span {
    display: none !important;
}

.loader {
    display: none;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.loading {
    width: 50px;
    height: 50px;
}

.btn_filter {
    position: absolute;
    right: 7%;
    top: 0;
    background: url(../pictures/submit.png) no-repeat 9px 5px #ffffff;
    height: 25px;
    width: 20px;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 0px;
}

.logowrapper {
    position: relative;
}

.expand {
    display: none;
    width: 22px;
    height: 13px;
}

.expert-advice-mobile {
    display: none;
}

.row {
    margin-bottom: 5px;
}

/*.lightboximg {
    width: 100%;
}*/

.txt_unsubscribe {
    height: 100px;
    width: 41%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #ffffff;
    resize: none;
}

#example1 li {
    margin-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDDEDF;
}

.user img {
    float: left;
    margin-bottom: 5px;
}

.user span {
    margin-left: 10px;
    float: left;
    width: 70%;
    font-weight: bold;
    color: #000000;
}

.user span span {
    margin: 0;
    width: 100%;
}

.interact {
    display: none;
}

.news-anchor {
    position: absolute;
    bottom: 200px;
}

.what-we-do-anchor {
    position: absolute;
    top: -200px;
}

.maps-wrapper, .galerij-img {
    position: relative;
}

.maps-link {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1336;
}

.galerij-img:hover .single-share {
    opacity: 1;
    transition: 1s;
}

.single-share {
    opacity: 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 25px;
    transition: 1s;
}

.single-share li {
    display: block;
    text-align: right;
    margin-bottom: 3px;
    height: 19px;
}

.single-share a {
    color: #707172;
    text-decoration: none;
    font-size: 9px;
    float: right;
}

.single-share .link-tekst {
    height: 19px;
    line-height: 19px;
    padding: 0 6px;
    float: left;
    position: relative;
    z-index: 1;
}

.link-tekst-bg {
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.share-tekst {
    position: relative;
    z-index: 1;
}

.no_icon {
    width: 19px;
    height: 19px;
    background: #ffffff;
    display: inline-block;
}

a.videoshow, a.press-link {
    display: block;
}

.video-container {
    position: relative;
    /*padding-bottom: 56.25%;
    padding-top: 30px;*/
    padding-bottom: 55%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    display: none;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a.no-decoration {
    text-decoration: none !important;
    display: block;
}

.super-container {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -169px;
}

.super-container.no-scroll {
    min-height: initial;
    height: 100% !important;
    overflow: hidden;
}

.footer-container.no-scroll {
    display: none;
}
/*.slider-container {
    width: 100%;
    overflow: hidden;
}*/

.slider {
    position: relative;
    right: -100%;
    width: 100%;
    /*min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -456px;*/
}

.press_twitter {
    background: url(../pictures/share_twitter_press.png) no-repeat right center #ffffff;
}

.press_facebook {
    background: url(../pictures/share_facebook_press.png) no-repeat right center #ffffff;
}

.search-input {
    position: relative;
    overflow: hidden;
}

.expand-link {
    text-decoration: none;
    display: block;
    background: url(../pictures/dropdown.png) no-repeat center right #ffffff;
}

.safari .txt_search, .safari .txt_expertadvice {
    margin-left: -1px;
    padding-top: 4px;
}

.expand-link.expanded {
    background: url(../pictures/dropup.png) no-repeat center right #ffffff;
}

.selectboxes {
    background: #ffffff;
    padding: 0 7%;
    height: 0px;
    overflow: hidden;
}

.selectboxes.visible {
    height: auto;
}

input[type=checkbox] {
    float: left;
    margin-right: 5px;
}

.chk-wrapper {
    color: #707172;
    padding-top: 5px;
    height: 25px;
}

.chk-wrapper label {
    float: left;
}

.required-checkboxes {
    border: 1px solid #ffffff;
    margin-bottom: 7px;
}

.absolute-swipe {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.absolute-swipe.touch-device {
    display: block;
}

.countdown-overlay {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*.countdown-overlay {
    display:none;
}*/

.countdown-content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: central;
}

.countdown-position {
    display: table-cell;
    vertical-align: middle;
}

.countdown-central {
    /*width: 810px;
    margin: 0 auto;*/
    text-align: center;
}

.countdown-overlay-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FBC40C;
    opacity: 0.95;
    z-index: 1;
}

.countdown-period {
    display: none;
}

/*#defaultCountdown {
    display: inline-block;
    padding-bottom: 30px;
}*/

.countdown-container {
    margin-bottom: 30px;
    display: inline-block;
    /*background: url(../pictures/countdown_blank.png) left top no-repeat;*/
    position: relative;
}

#countdown {
    position: relative;
    z-index: 2;
}

#countdown-bg {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.count-down-title {
    text-align: center;
    font-family: Arial, 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    display: block;
}

#countdown img:first-child, #countdown-bg img:first-child {
    margin-left: 0px;
}

#countdown img:last-child, #countdown-bg img:last-child {
    margin-right: 0px;
}


#countdown img, #countdown-bg img {
    /*padding: 0 4px;*/
    float: left;
    margin: 0 3px;
    width: 107px;
    height: 150px;
}

.countdown-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 2000;
    background: #323134;
    padding: 10px 0px;
    font-size: 10px;
    color: #b1b3b4;
}

.countdown-footer a {
    color: #b1b3b4;
}

.item.workbook {
    float: left;
    position: relative;
    max-width: 80px;
    overflow: hidden;
    margin-top: 4px;
}

.item.workbook img {
    width: 100%;
    display: block;

}

.workbook-detail {
    padding: 0 0 0 25%;
}

.workbook-wrapper {
    margin-bottom: 35px;
    float:left;
}

.jobs-button {
    display: block;
    width: 100%;
    padding-left: 7%;
    line-height: 25px;
    text-decoration: none;
    word-spacing: 3px;
}

.cookie-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2339;
    background: #F1F2F2;
}

.cookie-content {
    padding: 20px 0;
    padding-right: 50px;
    position: relative;
}

.close-cookies {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    text-decoration: none;
}

.close-cookies:hover, .close-cookies:focus {
    color: #009DE0;
}

@media only screen and (max-width: 1280px) {
    .wrapper {
        width: 900px;
    }

    #map_canvas {
        height: 300px;
    }

    .big {
        /*width: 75%;*/
        width: 450px;
        height: auto;
    }

    .medium {
        /*width: 50%;*/
        width: 300px;
        height: auto;
    }

    .medium-auto-height {
        width: 300px;
    }

    .small, .grid-sizer {
        /*width: 25%;*/
        width: 150px;
        height: auto;
    }

    .sitemap {
        float: right;
        width: 250px;
        margin-right: 0;
    }

    .sitemap li {
        width: 125px;
    }

    .one-third {
        width: 300px;
    }

    .two-thirds {
        width: 600px;
    }
}

@media only screen and (max-width: 990px) {
    .wrapper {
        width: 90%;
    }

    #container, .contact-container {
        width: 450px;
    }

    .one-third {
        width: 33%;
    }

    .two-thirds {
        width: 67%;
    }

    .partners-wrapper {
        width: 370px;
    }

    .super-container {
        margin: 0 auto -231px;
    }

    .footer-container, .push {
        height: 231px;
    }
}

@media only screen and (max-width: 710px) {
    .big, #container, .contact-container {
        /*width: 75%;*/
        width: 300px;
    }

    .menu li {
        margin-right: 10px;
    }

    .partners-wrapper {
        width: 300px;
    }
}

@media only screen and (max-width: 600px) {

    .cookie-wrapper {
        padding-left:20px;
    }

    .detailmenu {
        display: none;
    }

    .item.workbook {
        max-width: none;
        margin-bottom: 38px;
    }

    .wrapper, #container, .contact-container, .item.workbook {
        width: 100%;
    }

    #countdown img, #countdown-bg img {
        width: 14%;
        height: auto;
        float: none;
    }

    .detailcenter.contacts-center {
        padding: 0px;
        margin: 0 6%;
    }

    .absolute-swipe {
        display: block;
    }

    .super-container {
        margin: 0 auto;
    }

    .footer-container, .push {
        height: auto;
    }

    /*.slider {
        margin-left: 0;
    }*/

    .slider {
        right: 0;
    }

    #container-slider {
        right: auto;
    }

    .news-anchor {
        bottom: 40px;
    }

    .maps-link {
        display: block;
        position: relative;
        padding-top: 30px;
        padding-left: 7%;
    }

    .mainwrapper {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .nomobile, .menu-bottom {
        display: none;
    }

    .logo {
        max-width: 139px;
        margin-left: 35px;
        padding-bottom: 0;
        width: 79%;
    }

    .header {
        padding: 15px 0;
        margin-bottom: 0px;
    }

    .one-third, .two-thirds, .half {
        width: 100%;
        display: block;
    }

    .detail-square {
        width: 100%;
    }

    .contentmargin, .detailcenter, .pressleft {
        margin: 0 7%;
    }

    .contentmargin.no-margin-right {
        margin-right: 7%;
    }

    .big, .medium, .small, .grid-sizer, .client, .medium-auto-height {
        width: 50%;
    }

    .blocklogo {
        display: block;
        margin-right: 0px;
    }

    .footerlogo {
        margin-bottom: 18px;
    }

    .footer {
        padding-bottom: 26px;
    }

    .sitemap {
        float: none;
        display: block;
        width: 100%;
    }

    .sitemap li {
        width: 50%;
    }

    .clientlist {
        margin-left: 7%;
    }

    .expand {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .header {
        /*position: relative;*/
        z-index: 2337;
    }

    .menuwrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .menuposition {
        position: absolute;
        top: 0;
        padding-left: 7%;
        padding-right: 7%;
        width: 75%;
        z-index: 1337;
        background: url(../pictures/transp.png);
        height: 0;
        overflow: hidden;
    }

    .menuposition.show {
        height: auto;
        overflow: visible;
    }

    .menu {
        display: block;
    }

    .menu li {
        display: block;
        width: 100%;
        margin-bottom: 11px;
        padding-bottom: 11px;
        border-bottom: 1px solid #B1B3B4;
    }

    .menu a, .menu #current, .menu a:hover, .menu a:focus {
        margin: 0;
        border: 0;
        padding: 0;
    }

    .menu li:first-child {
        padding-top: 11px;
    }

    .menu li:last-child {
        border-bottom: 0;
        margin: 0;
    }

    .subscribewrapper {
        margin-bottom: 37px;
    }

    .submenu li {
        width: 100%;
    }

    .mobile-padding-top {
        padding-top: 40px;
    }

    .sharebuttons {
        padding-left: 7%;
        position: relative;
        width: auto;
        left: auto;
        top: auto;
    }

    .sharemenu img {
        float: left;
    }

    .sharemenusub {
        left: 0;
        top: 25px;
    }

    .expert-advice-mobile {
        display: block;
        float: left;
        margin-left: 7%;
        text-transform: uppercase;
        background: #3D3D3F;
        height: 25px;
        line-height: 25px;
        color: #ffffff;
        padding: 0 10px;
        font-weight: bold;
    }

    .expert-advice-mobile a {
        text-decoration: none;
        color: #ffffff;
    }

    .footer .left {
        width: 100%;
    }
}

.menu-lang-container{
    float:right	;
}

div.menu-lang-container > ul#menu-lang > li > a{ display: 	none !important	;	}
.menu-lang-container > ul#menu-lang>li>ul {
    list-style-type:none !important	;
}

.current-menu-item a,
.current-page-ancestor a{
    color: #009DE0;
}

.right.two-thirds article img{
    max-width:100%;
    height: auto;
}

#text-2 > h2{
    display: none;
}
#recentpostswithexcerpts-2{
    list-style-type:none !important	;

}
#recentpostswithexcerpts-2 ul{
    list-style-type:none !important	;

}

#text-3 > h2{
    display: 	none;
}

#sidebar-left-news .widgettitle{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}
#sidebar-left-news li {
    list-style-type:none !important	;
}

#sidebar-left-news .widget.elp-widget,
#sidebar-left-contacts .widget.elp-widget{
    background: #ffffff;
    padding: 0 28px;
    padding-top: 15px;
    padding-bottom: 52px;
    margin-bottom: 	15px;
}


#sidebar-left-what-we-do li{
    list-style-type:none !important	;
    text-decoration: 	none;

}
.news-wrapper{
    padding: 0 3.5%;
}
#sidebar-left-news * {
    text-decoration: 	none;
}
.widget_recent_entries li a{
    text-transform: 	uppercase;
}
.widget_recent_entries li:not(:last-child){
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #999;

}

.news-wrapper h2{

}
#sidebar-left-news li.widget.elp-widget,
#sidebar-left-contacts li.widget.elp-widget  {
    padding-bottom: 29px;
}
#email-subscribers-2 > div > div.es_lablebox{
    content: '';
}
.elp-widget > div{
    position: 	relative;
}
.elp-widget .es_lablebox{
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 25px;
    color: #707172;
    background: #D9DADB;
    padding: 4px 0 0 20px;


}
.elp-widget .es_textbox{
    bottom: -37px;
    left: 31px;
    position: 	absolute;

}

.elp-widget .es_button{
    position: absolute;
    right: 0;
    bottom: -35px;
    width: 41%;

}
.elp-widget .es_textbox_class {
    border: none;
    background: transparent;
    width: 173px;
    color: #707172;
}
.elp-widget  .es_button input.es_textbox_button {
    width: 100%;
    color: #ffffff;
    background: #A6A8AA;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.recent_with_excerpt {
    padding-right: 	20px;
}

.recent_with_excerpt li:not(:last-child) {
    margin-bottom: 	20px;
    padding-bottom: 	20px;
    border-bottom: 	1px solid #ccc;
}
#sidebar-left-contacts >li {
    list-style-type:none !important	;
}


#menu-lang.en #menu-item-111 > a{
    color: #009DE0 ;
}
#menu-lang.en #menu-item-111 > a> .menu-bottom{
    width: 100% ;
}

#menu-lang.pl #menu-item-110 > a{
    color: #009DE0;
}

#menu-lang.pl #menu-item-110 > a>  .menu-bottom{
    width: 100% ;
}

#footer_menu_bottom a {
    border: none;
}
#sidebar-left-portfolio > li {
    list-style-type:none !important ;

}
.interest-fields a{
    text-decoration:    none;
}
#email-subscribers-4 > div > div.es_lablebox,
#email-subscribers-2 > div > div.es_lablebox,
#email-subscribers-2 .elp-widget .es_lablebox{
    margin-left: -28px;
}
#email-subscribers-4 > div > div.es_button,
#email-subscribers-2 > div > div.es_button,
#email-subscribers-2 .elp-widget .es_button{
    margin-right: -28px;

}

#email-subscribers-4 {
    margin-top: 37px;
}
h2.widgettitle{
    /*font-weight: bold;*/
    text-transform: uppercase;
}
#recent-posts-4{
    background: #ffffff;
    padding: 0 7%;
    padding-top: 38px;
    padding-bottom: 52px;
    margin-bottom: 37px;
}
.news-wrapper  img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.newscontainer article.content p{
    margin-top: 20px;
}

.wpcf7 .wwd-form-order{
    width: 100%;
}
.wpcf7 .wwd-text-field{
    width: 100%;
}

.wpcf7 > form > div.wwd-form-order > p.wwd-text-field > span > input{
    width: 100%;
    display: block;
    padding: 0 7%;
    width: 100%;
    border: 1px solid #ffffff;
    height: 25px;
    margin-bottom: 40px;
    color: #707172;
    margin-bottom: 5px;
    /* line-height: 25px; */
    /* padding-top: 2px; */
}
.wwd-button input{
    float: right;
    color: #ffffff;
    background: #A6A8AA;
    height: 25px;
    line-height: 25px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.widget_news_grow_widget {
    background: #ffffff;
    padding: 0 7%;
    padding-top: 38px;
    padding-bottom: 20px;
}
.elp-widget{
    margin-top: 37px;
}
.news-widget-gp .newsitem:not(:last-child) {
    padding-bottom: 13px;
    border-bottom: 1px solid #ccc;
}
#sidebar-left-blog *{
    list-style-type:none !important ;
    text-decoration:   none;
}
.widget_blog_grow_widget h2.widgettitle{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}
#sidebar-left-blog {
    background: #ffffff;
    padding: 0 7%;
    padding-top: 38px;
    padding-bottom: 20px;
}
.medium.auto-height {
    height: auto;
}
.contactinfo.pressinfo {
    background: #ffffff;
    margin-bottom: 10px;
}
.contactinfo.bloginfo {
    padding: 20px;
    font-size: 12px;
    line-height: 18px;
    text-decoration:    none;
}
.contactinfo.bloginfo {
    padding: 20px;
    font-size: 12px;
    line-height: 18px;
    padding-bottom:     2px;
}
.contactinfo {
    padding: 0 12.5%;
    padding-top: 7px;
    display: block;
    padding-bottom: 18px;
    font-size: 10px;
    line-height: 14px;
}
.contactinfo.bloginfo a {
    color: rgb(112, 113, 114);

    text-decoration:    none;
}
.contactinfo.bloginfo .contactbeschrijving{
    text-transform:     none;
}
.contactinfo.bloginfo .interest-fields {
    font-size: 10px;
    color: #A7A8AA;
    text-transform:     none;
    margin-top:     15px;
}

.thumb-single>.post-thumbnail>img {
    margin-top:     0;
}
.add_50_pixels{
    width: 100%;
    margin-bottom:  50px;
}
.news-wrapper article p {margin-top: 18px;}
article.type-portfolios {padding-right: 20px;}

#footer_logos_section li{
    list-style-type:none !important ;
    text-decoration:   none;
}
#footer_logos_section img{
    /*max-height: 44px;*/
}

.footer {
    z-index: 1;
    position: relative;
    margin-top: 20px;
}

.footerlogo {
    max-height: 46px;
    margin-bottom: 10px;
    vertical-align: top;
}
.pelka_logo{
    max-height: 50px;

}
.idbbn_logo{
    max-height: 25px
}
.ark_logo{
    max-width: 190px;
}

.logo-div{
    display: inline-block;
}
.bbn_logo{
    max-height: 53px;
    margin-top: -5px;
}
#comments #reply-title {
    width: auto;
    text-decoration: none;
    width: 115px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    width: 41%;
    color: #ffffff;
    background: #A6A8AA;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#comments .logged-in-as{
    display: block;
    margin: 0;
    padding: 0;
    color: #7f929c;
    color: rgba(0,39,59,.5);
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    position: relative;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    margin: 14px 0;
}
#comments .logged-in-as a {
    color: #7f929c;
    color: rgba(0,39,59,.5);
    text-decoration:   none;

}
#comments .logged-in-as a:hover {
    color: #333;
}
.comment-form-comment label{
    display: none;
}
.comment-form-comment textarea{
    position: relative;

    background: #fff;
    border: 2px solid #cbd2d6;
    border: 2px solid rgba(0,39,59,.2);
    border-radius: 4px;
    width: 100%;
    min-height: 100px;
}

#comments .form-submit #submit{
    background: #A6A8AA;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #FFF;
}
.partners-wrapper{
    width:80%;
}
@media screen and (max-width: 1280px){
    .partners-wrapper{
        width:60%;
    }
}

@media screen and (max-width: 772px){
    .partners-wrapper{
        width:100%;
    }
    .menu-lang-container .menu-item-110,
    .menu-lang-container .menu-item-111{
        width: auto;
        display: inline-block;
        padding:    0 !important;
    }
    .menu-lang-container {

        position: absolute;
        top: 10px;
        right: 10px;
    }
    .expand {

        bottom: 17px;
    }
    .flex-container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
    }

    .logo-div{/*width: 40%;*/ margin: 5%;}
    .sitemap{float:left;}
}
.news-share-container {
    width: 100%;
    border: 1px solid #BBBCBE;
    display: block;
    margin-top: 20px;
    position: relative;
}
.news-share-container a {
    height: 23px;
    padding: 0 19px;
    display: inline-block;
    border-right: 1px solid #BBBCBE;
    text-decoration: none;
    font-size: 10px;
}
.news-wrapper .addthiss_bottom a, .news-wrapper .addthiss_bottom img, .news-wrapper .addthiss_bottom  span{
    margin: 0;
    vertical-align:     middle;
}
.news-wrapper .addthiss_bottom img{
    margin-left:    5px;
}
.news-wrapper .addthiss_bottom  span{
    margin-top: 2px;
    display: inline-block;
}
.no-border{
    border-right: 1px solid transparent !important;
}
@media screen and (max-width: 400px){
    .logo-div{
        max-width: 100%;
        max-height: 100px;
    }
    .logo-div *{
        max-width: 100%;
        max-height: 100px;
    }
    .idbbn_logo{
        max-height: 43px;
    }


}